@model MvcDemo.Models.VOUCHER_TYPE_TABLLE

@{
    ViewBag.Title = "Create";
}
@if (Roles.IsUserInRole("admin"))
{
}
else
{
    //redirects to page "AdminError"
    Response.Redirect("~/Home/AdminError");
}
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>VOUCHER_TYPE_TABLE</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.VOUCHER_TYPE_ID)
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.VOUCHER_TYPE_ID)
            @Html.ValidationMessageFor(model => model.VOUCHER_TYPE_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VOUCHER_TYPE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VOUCHER_TYPE)
            @Html.ValidationMessageFor(model => model.VOUCHER_TYPE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VOUCHER_SPECS)
        </div>
        <div class="editor-field">
            <select style="border: 1px solid #e2e2e2; background: #fff; color: #333; font-size: 1.2em; margin: 5px 0 6px 0;  padding: 5px;  width: 300px;" @Html.EditorFor(model => model.VOUCHER_SPECS)>
                <option>Advice</option>
                <option>Funds</option>
                <option>All Fields</option>
            </select>
            @Html.ValidationMessageFor(model => model.VOUCHER_SPECS)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
