@model MvcDemo.Models.COURSE_TABLE

@{
    ViewBag.Title = "Delete";
}

@if (Roles.IsUserInRole("admin"))
{
}
else
{
    //redirects to page "AdminError"
    Response.Redirect("~/Home/AdminError");
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?<br />This may effect other tables</h3>
<fieldset>
    <legend>COURSE_TABLE</legend>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.COURSE_ID)</th>
            <td>@Html.DisplayFor(model => model.COURSE_ID)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.COURSE_NAME)</th>
            <td>@Html.DisplayFor(model => model.COURSE_NAME)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FACULTY_TABLE.FACULTY_NAME)</th>
            <td>@Html.DisplayFor(model => model.FACULTY_TABLE.FACULTY_NAME)</td>
        </tr>
    </table>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
