@model MvcDemo.Models.DETAILED_ETHINICITY_TABLE

@{
    ViewBag.Title = "Create";
}
@if (Roles.IsUserInRole("admin"))
{
}
else
{
    //redirects to page "AdminError"
    Response.Redirect("~/Home/AdminError");
}
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DETAILED_ETHINICITY_TABLE</legend>

        <table>
            <tr>
                <th>@Html.HiddenFor(model => model.DETAILED_ETHINICITY_ID)</th>
                <td>@Html.HiddenFor(model => model.DETAILED_ETHINICITY_ID)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.DETAILED_ETHINICITY)</th>
                <td>@Html.EditorFor(model => model.DETAILED_ETHINICITY)
                @Html.ValidationMessageFor(model => model.DETAILED_ETHINICITY)</td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.ETHINICITY_ID, "ETHINICITY_TABLE")</th>
                <td>@Html.DropDownList("ETHINICITY_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.ETHINICITY_ID)</td>
            </tr>

        </table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
