@model IEnumerable<MvcDemo.Models.VOUCHER_TABLE>
@{
    ViewBag.Title = "MonthSumCampusGrant";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>


<h2>Monthly Summary Of Vouchers Issued By Campus and grant type</h2>
<p>
    @Html.ActionLink("Back", "Index")
</p>
@if (TempData["dateFail"] != null)
{
    <h3 style="color: red;">@TempData["dateFail"]</h3>
}
@{int Total = 0;}

@{ if (Total > 50)
 {
    <h3 style="color: red;">Warning: There is more than 50 vouchers shown</h3>
 }
}

<!--User input-->
@using (Html.BeginForm())
{
    <p>
        Enter the date for the start of the Month: @Html.TextBox("datepicker", "",new { id = "datepicker", placeholder = "mm/dd/yyyy" })
        Enter the Campus: @Html.DropDownList("CAMPUS_ID", String.Empty)
        <input type="submit" value="Search" />
    </p>
}



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.REF_NUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT.AVAILABLE_COURSE.CAMPUS_TABLE.CAMPUS_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VOUCHER_TYPE_TABLLE.VOUCHER_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_OF_ISSUE)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.REF_NUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT.AVAILABLE_COURSE.CAMPUS_TABLE.CAMPUS_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VOUCHER_TYPE_TABLLE.VOUCHER_TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_OF_ISSUE)
            </td>
        </tr>
        Total++;
    }

</table>
<p>Total number of grants: @Total</p>