@model MvcDemo.Models.FACULTY_TABLE

@{
    ViewBag.Title = "Details";
}

@if (Roles.IsUserInRole("admin"))
{
}
else
{
    //redirects to page "AdminError"
    Response.Redirect("~/Home/AdminError");
}

<h2>Details</h2>

<fieldset>
    <legend>FACULTY_TABLE</legend>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FACULTY_ID)</th>
            <td>@Html.DisplayFor(model => model.FACULTY_ID)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FACULTY_NAME)</th>
            <td>@Html.DisplayFor(model => model.FACULTY_NAME)</td>
        </tr>
    </table>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FACULTY_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
