@model MvcDemo.Models.AVAILABLE_COURSE

@{
    ViewBag.Title = "Edit";
}
@if (Roles.IsUserInRole("admin"))
{
}
else
{
    //redirects to page "AdminError"
    Response.Redirect("~/Home/AdminError");
}
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AVAILABLE_COURSE</legend>
        <table>
            <tr>
                <th>@Html.LabelFor(model => model.CAMPUS_ID, "CAMPUS_TABLE")</th>
                <td>
                    @Html.DropDownList("CAMPUS_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.CAMPUS_ID)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.FACULTY_ID, "FACULTY_TABLE")</th>
                <td>
                    @Html.DropDownList("FACULTY_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.FACULTY_ID)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(model => model.COURSE_ID, "COURSE_TABLE")</th>
                <td>
                    @Html.DropDownList("COURSE_ID", String.Empty)
                    @Html.ValidationMessageFor(model => model.COURSE_ID)
                </td>
            </tr>

        </table>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
