@model IEnumerable<MvcDemo.Models.STUDENT>

@{
    ViewBag.Title = "Students";
}


<h2>Students</h2>
@if (TempData["notice"] != null)
{
    <h3 style="color: red;">@TempData["notice"]</h3>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name or ID: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AVAILABLE_COURSE.COURSE_TABLE.COURSE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT_FNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT_LNAME)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AVAILABLE_COURSE.COURSE_TABLE.COURSE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT_FNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT_LNAME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.STUDENT_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.STUDENT_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.STUDENT_ID }) |
                @Html.ActionLink("View Vouchers", "StuGrant", new { id = item.STUDENT_ID })
            </td>
        </tr>
    }

</table>
